/* GENERAL STYLES */

.html{
  font-size: 16px;

  }
body{
    font-family: helvetica;
    color: #3f3844;
}

h1{
  font-size: 2.9rem;
  font-weight: bold;
}

h4{
  font-size: 1.5rem;
  font-weight: bold;
}

body a{
      text-decoration:none;
}

strong{
  font-weight: bold;
}

/* GENERAL ARTICLE STYLES */

article{
  width:60%;
  padding: 2rem 1.5rem;
}

article img, article video{
  width: 100%;
}

/* GENERAL SIDEBAR STYLES */

aside{
  width:40%;
}

.stacked{
  padding-top: 1rem;

}

.stack-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.stack-container:hover{
  background-color: lightgray;
}

.stack-text{
  width: 65%;
}

.stack-container img{
  width:35%;
  height: auto;
  display: block;
  padding: 1rem;
}

.stack-container a{
  color:dodgerblue;
}

.stack-container a,.stack-container p, .stack-container h4{
  padding-bottom: 0.5rem;
}


/* HEADER */

header.desktop{
  height:4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
}

.logo img{
  height: 3rem;
  width: auto;
}

.logo span{
  font-size: 2rem;
}

span.academy{
  color:lightgray;
}

header.desktop nav{
  display: block;
  padding-right: 1.5rem;
}

nav ul{
  display: flex;
  flex-direction: row;
}

header.desktop nav li{
  display: block;
  padding-left: 1rem;
}

header.mobile, img.mobile{
  display: none;
}

/* START SECTION */
#start-section{
  background-color: lightgray;
  display: flex;
  justify-content: flex-start;
}

.start-aside{
  display: flex;
  align-items: center;
      text-decoration:none;
}

.start-content{
    max-width: 80%;
}

.start-content h1, .start-content h4{
    padding-bottom: 1.5rem;
}

.button{
  background-color: #3f3844;
  padding: 0.5rem;
  color: white;
  text-align: center;
}

/* ABOUT SECTION */
#about-section{
  display: flex;
  justify-content: flex-start;
}

.about-article h1{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.about-stacked {
  border-left: 1px solid lightgray;
}

.about-container{
  border-bottom: 1px solid lightgray;
}

/* COURSES SECTION */

#courses-section{
  background-color: lightgray;
  padding: 2rem 9rem;
}

#courses-section h1{
  padding-bottom: 2rem;
  text-align: center;
}

.courses-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-container{
  margin: 0 2rem 2rem 0;
  width: 30%;
  background-color: white;
}

.course-container img{
  height:auto;
  width: 100%;
}

.course-container p{
  padding-top: 0.5rem;
    color: gray;
}

.course-text{
  padding: 1rem 1rem 1.5rem 1rem;
}

/* THESIS SECTION */

.thesis-container{
  display: flex;
  justify-content: flex-start;
}

.title-thesis h1{
  padding: 2rem 0;
  text-align: center;
}

.thesis-article h1{
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.thesis-article p{
  padding-bottom: 2rem;
}

/* FOOTER */

footer{
  border-top: solid 1px lightgray;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  color: gray;
}

footer a{
  padding-left: 1rem;
  color: gray;
}

/* MOBILE LAYOUT */

@media screen and (max-width: 750px){

  /* HIDDEN ON MOBILE ITEMS */
  header.desktop, img.desktop, p.desktop, h1.desktop, footer span.desktop, .stacked-about, .about-article{
    display: none;
  }

  /* MOBILE-ONLY ITEMS */
  img.mobile{
    display: block;
  }

  /* MOBILE HEADER */
  header.mobile{
    height:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header.mobile nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  header.mobile img{
    height: 3rem;
  }

  /* MOBILE START SECTION */
  #start-section{
    flex-direction: column;
  }

  article, aside, .start-content{
    width:100%;
    padding: 0 0;
  }

  .button{
    margin-bottom: 2rem;
  }

  .start-content{
    padding: 0 1rem;
    max-width: 100%;
  }

  .start-content h1{
    padding: 2rem 0;
  }

  /* MOBILE ABOUT SECTION */
  .stack-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1rem 4rem 1rem;
  }

  .stack-container img {
    width: 100%;
    height: auto;
  }

  .stack-text{
    width: 100%;
    padding-left: 1rem;
  }

  /* MOBILE COURSES SECTION */

  #courses-section{
    padding: 2rem 1rem;
    background-color: white;
    border-bottom: 1px solid lightgray;
  }

  #courses-section h1{
    padding-bottom: 1rem;
  }

  .course-container{
    width: 100%;
    margin: 0 0 0.5rem 0;
  }

  .course-text{
    background-color: lightgray;
  }

  .course-text:hover{
    background-color: darkgray;
  }

  /* MOBILE THESIS SECTION */
  .title-thesis h1 {
    padding: 2rem 0 1rem 0;
  }

  video{
    padding-bottom: 1.5rem;
  }

  /* MOBILE FOOTER */
  footer{
    border: none;
  }

}
